.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  margin-top: 60px;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #525252;
  margin-bottom: 30px;
}
.experiencia-texto strong {
  color: black;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}
.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}
.empresa h3{
  position: relative;
}
.empresa h3::before{
  content: "";
  display: block;
  position: absolute;
  background: url(/img/detalhe.svg) no-repeat center;
  width: 4px;
  height: 20px;
  left: -24px;
}
/*.empresa-ano{
  position: absolute;
  color: #525252;
  display: block;
  font-size: 0.950rem;
  left: 480px;
}*/
@media (max-width: 800px){
  .experiencia{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .subtitulo{ 
    font-size: 3rem;
    color: #000000;
    text-align: center;
    max-width: initial !important;
  }
}
@media (max-width:520px){
  .experiencia{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experiencia h2{
    font-size: 2.5rem ;
    text-align: center ;
    color: #141414;
  }
  .experiencia-texto{
    font-size: 1rem;
    text-align: center;
  }
  .empresa{
    margin: 20px 20px;
  }
}






