footer{
  background: #000000;
}
.footer-conteiner{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 150px;
  margin-left: 50px;
}
.footer-texto{
  margin-left: 0px;
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 1.3;
  color: #dfdfdf;
  position: relative;
}
.footer-texto::before{
  content: "";
  background: url(../img/detalhe.svg);
  width: 128px;
  height: 128px;
  top: -220px;
  position: absolute;
}
.contatos li{
  font-size: 2.5rem;
  line-height: 2;
  color: #ffffff;
  font-weight: 600;
}
.instagram{
  text-decoration: underline;
}
.creditos{
  color: #8f8f8f;
  font-size: 1.2rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 800px){
  .footer-conteiner{
    grid-template-columns: 1fr;
  }
  .footer-texto{
    font-size: 1.2remn;
  }
}