@import url(./header.css);
@import url(../css/introducao.css);
@import url(../css/experiencia.css);
@import url(../css/formacao.css);
@import url(../css/footer.css);

body {
  margin: 0px;
  font-family: "fira-sans", arial, sans-serif;
  color: #141414;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.subtitulo {
  color: #e0e0e0;
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}
.subtitulo2 {
  color: #000000;
  font-size: 8rem;
  line-height: 1;
  max-width: 4ch;
  text-transform: uppercase;
  word-break: break-all;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    color: #000000;
    text-align: center;
  }  .subtitulo2 {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    max-width: 30ch;
  }
}
@media (max-width: 520px) {
  .subtitulo {
    font-size: 2rem;
  max-width: none;

  }
}
