.header {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  padding: 40px 20px;
  margin: 0 auto;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 10px;
  color: #141414;
  display: block;
}
.header-menu a:hover {
  color: #14a45f;
  transition: 1s;
}
@media (max-width:520px){
  .header{
    flex-direction: column;
  }
  .header-menu{
    margin-top: 20px;
  }
  .header-menu a{
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
