.introducao{
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;
  gap: 100px;
  align-items: center;
}
.introducao img{
  display: block;
  max-width: 100%;
  height: auto;
}
.introducao h1{
  font-size: 4.5rem;
  line-height: 1.25;
  margin-bottom: 20px;
  position: relative;
}
.introducao h1::before{
  content: "";
  position: absolute;
  display: block;
  background: url(/img/detalhe.svg) no-repeat center;
  width: 130px;
  height: 100px;
  top: -10px;
  left: -40px;
  z-index: -1;
}
.introducao-conteudo p{
  color: #525252;
  font-size: 1.5rem;
}

@media (max-width: 1000px){
  .introducao h1{
    font-size: 3rem;
  }
}
@media (max-width: 800px){
  .introducao{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .introducao h1{
    font-size: 2rem;
  }
  .introducao p{
    font-size: 1rem;
  }
  .introducao h1::before{
    width: 30px;
    height: 10px;
    left: 0px;
  }
}
@media (max-width: 400px){
  .introducao{
    grid-template-columns: 1fr;
  }
 .introducao img{
  display: none;
 }
}